.cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 50px));
	gap: 10px;
	overflow-y: hidden;
	max-height: 600px;
	overflow-x: hidden;
}
.cards-container:hover{
	overflow-y: scroll;
	overflow-x: hidden;
}

/* .cards-container::-webkit-scrollbar {
	display: none;
} */

