.deck-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
	max-height: 80%;
	border: '1px solid black';
	color: 'black';
  background-color: burlywood;
  width: fit-content;
  padding: 1rem;
}

.deck {
  /* height: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  max-width: 20%;
  right: 2%;
  top: 20%;
  height: 60%;
  background-color: burlywood;
  overflow: auto;
  width: 20%;
  border-radius: 2rem;
}

.deck-bottom { 
  height: fit-content;
  margin-top: auto;
  background-color: burlywood;
  text-align: center;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.current-deck {
  overflow-y: scroll;
  padding: 1rem 2rem
}

