.deck {
  display: flex;
	height: 100%;
	width: '100%';
	border: '1px solid black';
	color: 'black';
  background-color: burlywood;
}

/* .current-deck {
  display: flex;
  flex-wrap: wrap;
} */

/* .deck-container {
  display: flex;
  flex-wrap: wrap;

} */

