.filter-settings {
  grid-column: span 3;
  display: flex;
  flex-wrap: nowrap; /* Keep everything on a single line */
  justify-content: flex-start; /* Align to the left */
  align-items: center;
  background-color: burlywood;
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  padding: 2rem;
  margin-top: 50px;
  max-height: fit-content;
}

.manaCrystalWrapper {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 1;
  margin-right: 10px; /* Add some spacing between the mana crystals */
}

.manaCrystalWrapper:hover {
  cursor: pointer;
}

.manaCost {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.manaCrystalWrapper img {
  position: relative;

}

.filter-settings form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: fit-content;
}
