.deck-builder{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 3fr 1fr;
}

.bottom-container{
 grid-column: span 3;
 display: flex;
 justify-content: space-between;

}
.bottom-container div{
  min-width: 49%;
  overflow-x: hidden;

}