.deck-builder{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 3fr 1fr;
  margin-top: 2rem;
}

.bottom-container{
 grid-column: span 3;
 display: flex;
 justify-content: space-between;

}
.bottom-container div{
  min-width: 49%;
  overflow-x: hidden;

}