/* .deck-builder {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr; 
  grid-template-rows: auto auto; 

}


.deck-builder > .filter-settings:nth-child(1) {
  grid-column: 1 / 2;
}

.deck-builder > .card-display:nth-child(2) {
  grid-column: 2 / 3;
}

.deck-builder > .deckinfo:nth-child(3) {
  grid-column: 3 / 4;
}

.deck-builder > .stash:nth-child(4) {
  grid-column: 1 / 2; 
}

.deck-builder > .deck:nth-child(5) {
  grid-column: 3 / 4; 
} */

.deck-builder{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 3fr 1fr;
  margin-top: 2rem;
}

.bottom-container{
 grid-column: span 3;
 display: flex;
 justify-content: space-between;

}
.bottom-container div{
  min-width: 49%;
  overflow-x: hidden;

}