.card {
	/* display: inline-block; */
	/* padding: 8px; */
	/* margin-bottom: 4px; */
	max-width: 269px;
	max-height: 372px;
  padding: 10px;
  ;
}

img {
  /* transform: scale(0.65); */
	max-width: 269px;
	max-height: 372px;
	/* display: block; */
}
