.filter-settings {
  grid-column: span 3;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(222, 184, 135, 0.7);
  overflow-x: auto;
  padding: 1rem;
  max-height: fit-content;
  border-radius:0 0 1rem 1rem ;
}

.manaCostWrapper {
  display:flex;
  gap: 0.5rem
}

.manaCostWrapper:hover {
  cursor: pointer;
}

.filter-settings form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: fit-content;
  gap:1rem
}

.manacost {
  display: grid;
  place-items: center; /* Centers content horizontally and vertically */
}
.manacost img{
  grid-row: 1;
  grid-column: 1;

}
.manacost div{
  grid-row: 1;
  grid-column: 1;
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px 2px black;
}
