.deckinfo{
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
}

.rarity-pie {
  height: 100%;
  width: 40%;
  max-height: 150px;
}