.card-display {
  flex: 1;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'BelweBold', sans-serif;
  color: #ddd;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  padding: 2rem;
  background-color: rgba(30, 30, 30, 0.7);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  border: 1px solid #444;
}

.loading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-image: url('../../../assets/imgs/topbar.png');
  background-size: 100% 100%;
}